<!DOCTYPE>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="We'll love you until you love yo fine self.">
  <title>Emergency Compliment!</title>
  <link rel="stylesheet" type="text/css" href="public/normalize.css">
  <link rel="stylesheet" type="text/css" href="public/styles.css">
</head>
	
<body>

<%= yield %>

</body>


</body>
</html>

